%h1 Dashboard
=link_to 'Home', root_path
%h3 At a glance
%p Number of Users: #{@users.size} | Number of Reviews: #{@reviews.size} | Number of Places: #{@places.size}

%h3 User stats
- @users.each do |user|
  %p #{user.username} has made #{user.reviews.count} reviews
%h2 Deep dive
- @places.each do |place|
  %h3 Place Name: #{place.name}
  %p Description: #{place.description}
  %h3 Reviews for #{place.name}:
  - if place.reviews.count == 0
    %p No reviews yet
  - place.reviews.each do |review|
    %h4 Reviewer: #{User.find(review.user_id).username}| Food Eaten: #{review.food_eaten}
    %p Thoughts on the vibe: #{review.description}
  %hr


