= content_for :css_placeholder do
  = stylesheet_link_tag "manifests/home"
= content_for :js_placeholder do
  = javascript_include_tag 'manifests/home'

- if current_user.present?
  :javascript
    var USER_ID = '#{current_user.id }'
- else
  :javascript
    var USER_ID = 'nil'

%h1 Cupcake-n-Cookie Crawl
%h3
  Review all 10 places in one day!
  =link_to 'View Dashboard', dashboard_path


- if current_user.present?
  #app
    %h3 Loading
- else
  %h1 Login to continue!


:plain
  <script id="index-template" type="text/x-mustache-template">
    <h2 class="text-center">You've written {{count}} reviews!</h2>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#places" role="tab" data-toggle="tab">Places</a></li>
      <li><a href="#reviews" role="tab" data-toggle="tab">My Reviews</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="places">
        <h2 class="text-center">Cookie and Cupcake Places</h2>
        <div class="places"></div>
      </div>
      <div class="tab-pane" id="reviews">
        <h2>Your Reviews</h2>
        <div class="reviews"></div>
      </div>
    </div>

  </script>

  <script id="index-form-template" type="text/x-mustache-template">
    <div class="well">
      <legend>Add review</legend>
      <fieldset>
      <div class='control-group'>
        <label class='control-label' for='food_eaten'>Food Eaten</label>
        <div class='controls'>
          <input type='text' class='form-control input-xlarge' id='food_eaten'>
        </div>
      </div>
      <div class='control-group'>
        <label class='control-label' for='description'>How was the vibe?</label>
        <div class='controls'>
          <input type='text' class='form-control input-xlarge' id='description'>
        </div>
      </div>
      <hr>
      <div class="form-actions">
        <button type="submit" class="btn btn-block btn-primary">Add Review</button>
      </div>
      </fieldset>
    </div>
  </script>

  <script id="index-review-template" type="text/x-mustache-template">
    <h4><strong>Place:</strong> {{place_name}}</h4>
    <h4><strong>Food I Ate:</strong> {{food_eaten}}</h4>
    <h4><strong>Thoughts on the vibe:</strong> {{description}}</h4>
    <div class="delete btn btn-xs btn-danger"> Delete Review</div>
    <p>Reviewed at: {{review_time}}
    <hr>
  </script>

  <script id="index-place-template" type="text/x-mustache-template">
    <h2>{{name}} <small>{{description}}</small></h2>

    <p>Address: <a href="https://www.google.com/maps/place/{{address}}" target="_blank">{{address}}</a></p>
    <p>Number of Reviews: {{reviewCount}}</p>
    <p>Have you reviewed this place? {{currentUserReviewed}}</p>
  </script>