%h1 Editing #{@place.name}
= form_for :place, url: place_path(@place), method: :patch do |f|
  - if @place.errors.any?
    #error_explanation
      %h2
        = pluralize(@place.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @place.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :description
    %br/
    = f.text_area :description
  %p
    = f.submit
= link_to 'Back', places_path