%h1 Places

%table
  %tr
    %th Place
    %th Description
  - @places.each do |place|
    %tr
      %td= place.name
      %td= place.description
      %td #{link_to "View this place", place_path(place)}
      %td #{link_to "Edit this place", edit_place_path(place)}
      %td #{link_to "Delete this place", place_path(place), :method => :delete}


%h2 Add a place
= form_for(@place) do |f|
  %label Name
  = f.text_field :name
  %label Address
  = f.text_field :address
  %label Description
  = f.text_field :description
  = f.submit "Add Place"
