%h1= @place.name

%p= @place.description

%h3 Reviews
%table.table-striped.table-hover
  %tr
    %th Food Eaten
    %th Overall thoughts
  - @reviews.each do |review|
    %tr
      %td= review.food_eaten
      %td= review.description
      %td #{link_to "Delete this Review", review_path(review), :method => :delete}

%hr
%h3 Add Review
= form_for(@review) do |f|
  %label Food Eaten
  = f.text_field :food_eaten
  %label Overall thoughts
  = f.text_field :description
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :place_id, :value => @place.id
  = f.submit "Add Review"
