!!!
%html{:lang => "en"}
  %head
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{charset: "utf-8"}/
    %title Cupcake-n-Cookie Crawl
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    = stylesheet_link_tag "manifests/global"
    = csrf_meta_tags
    = yield :css_placeholder
  %body
    .container
      - flash.each do |type, message|
        %div{class: "alert #{bootstrap_class_for(type)} fade in"}
          %button.close{"data-dismiss" => "alert"} ×
          = message
      - if user_signed_in?
        Hello there,
        = succeed "." do
          %strong= current_user.username
        %br
        = link_to 'Edit profile', edit_user_registration_path
        |
        \#{link_to "Logout", destroy_user_session_path, method: :delete}
      - else
        = link_to "Sign up", new_user_registration_path
        |
        \#{link_to "Login", new_user_session_path}
      = yield
    = javascript_include_tag 'manifests/global'
    = yield :js_placeholder
    :javascript
      $(document).ajaxSend(function(e, xhr, options) {
      var token = $("meta[name='csrf-token']").attr("content");
        xhr.setRequestHeader("X-CSRF-Token", token);
      });
